/* Bootstrap CSS */
.jumbotron {

    font-family:"quicksand", "Nanum Gothic", "Didact Gothic", "Arial", "Helvetica", "sans serif";
    text-align:center;
    background-image:url(images/rain.jpg);
    background-size: cover;
    color:mintcream;
    margin-bottom:0;
    border-radius:0;
    height:300px;
    max-height:300px;
}

.navbar {

    background-color:#171717;
    color:mintcream;
    height:50px;
}


/*Actual css styling*/

html{

    font-family:"quicksand", "Nanum Gothic", "Didact Gothic", "Arial", "Helvetica", "sans serif";

}

body {
    
    background-color:#111111;
    color:mintcream;
    font-family:"quicksand", "Nanum Gothic", "Didact Gothic", "Arial", "Helvetica", "sans serif";
    padding-bottom:70px;
}

h2 {
    text-align:center;
}

h2 h3 h4 h5 h6 {

    font-family:"quicksand", "Nanum Gothic", "Didact Gothic", "Arial", "Helvetica", "sans serif";

}

a:hover, a:link, a:visited, a:active {
    color: #eeeeee;
    text-decoration:none;
}

a:hover {
    font-weight:bold;
}

.center {
    text-align:center;
    margin:0 auto;
}

.footer {
    max-height:50px;
    z-index:1;
}
.footnote {
    font-size:50%;
}
.smalllogo {
    height:40px;
    width:40px;
    padding:0;
    margin:5px;
}

.largelogo{
    height:200px;
    width:200px;
}

.ojline {
    border: 2px darkorange solid;
    width:500px;
    height:0px;
    position:relative;
    margin:20px auto;


}